<app-navmenu></app-navmenu>
<div class="container">
    <div class="row text-center">
        <br />
        <h1>MATERIAS ASIGNADAS</h1>
        <hr />
    </div>
    <br />
    <div class="row">
        <div class="col-md-9">
            <p><b>Se muestra información de todas las materias asignadas al alumno seleccionado</b></p>
        </div>
        <div class="col-md-3">
            <button class="btn btn-success col-md-12" (click)="openDialog()"> Agregar materia </button>
        </div>
    </div>
    <br />
    <div class="container">
        <div>
            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <!-- ID Column -->
                    <ng-container matColumnDef="IdAlumnoMateria" hidden>
                        <th mat-header-cell *matHeaderCellDef hidden> ID Alumno Materia </th>
                        <td mat-cell *matCellDef="let element" hidden> {{element.idAlumnoMateria}} </td>
                    </ng-container>

                    <!-- ID Column -->
                    <ng-container matColumnDef="IdMateria" hidden>
                        <th mat-header-cell *matHeaderCellDef hidden> ID Materia </th>
                        <td mat-cell *matCellDef="let element" hidden> {{element.idMateria}} </td>
                    </ng-container>

                    <!-- FirstName Column -->
                    <ng-container matColumnDef="Nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- LastName Column -->
                    <ng-container matColumnDef="Costo">
                        <th mat-header-cell *matHeaderCellDef> Costo materia </th>
                        <td mat-cell *matCellDef="let element"> {{element.costo}} </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="warn" (click)="dialogoEliminar(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>

        </div>
    </div>
</div>